/*your CSS goes here*/
input, select, textarea {
    background-color: yellow;
}

.bolded {
    font-weight: bold;
  }

  .border {
  border: 2px solid black ;
  top: 2px;
  padding: 20px;
  width: 240px

}


 